.container {
  border: 2px solid #3333;
}
.login-form {
  padding:20px;
}
.login-form input {
  width:100%;
  display: inline-block;
  box-sizing:border-box;
  padding:6px;
  margin-bottom:14px;
  color: rgb(192, 192, 192);
}
.login-form button {
  padding:8px;
}
